---
title: "About | Salt Song Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/website-coean-head-nighttime.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING Page                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/website-coean-head-nighttime-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/website-coean-head-nighttime.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/website-coean-head-nighttime.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <div class="">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Salt Song Web Designs</h2>
                <p class="cs-text">
                    <strong>Anchored by women and driven by purpose, Salt Song was created to bring better websites to the small businesses that keep our communities afloat.</strong>
                </p>
                <p class="cs-text">
                    After working in professional advertising agencies for years, we saw a recurring problem: small business owners were getting left behind. Big agencies come with big price tags and long timelines. If smaller clients were served at all, they were offered bloated, slow and hard to manage websites that didn't serve their needs.
                </p>
                <p class="cs-text">
                    We wanted to change that.
                </p>
                <p class="cs-text">
                    Salt Song is our answer to an outdated agency model. We're here to make waves for the little guys with websites that look great, load fast and actually work. We've taken everything we learned from the agency world and reimagined it for those who value a hard day's work for a fair price.
                </p>
                <p class="cs-text">
                    <strong>Your digital compass</strong>
                </p>
                <p class="cs-text">
                    We're not just here to build a website and sail off into the sunset! We want to be true partners to the small business owners we work with. We offer ongoing support, honest advice and expert guidance every step of the way. As your trusted advisors, we're always available to guide you through your digital journey.
                </p>
                <p class="cs-text">
                    If there is ever something you need that is outside our scope, we've got you covered. We've built a trusted network of skilled, reliable contractors and we'll always refer you to the right people for the job. We pride ourselves on making recommendations based on what's best for you and your business, not just what we can do in house.
                </p>
                <p class="cs-text">
                    We're proud to serve the kind of clients we believe in: small business owners, independents, family-run shops and local legends. You are the heart of the economy, and we'd rather work with you than sit in another boardroom full of executives any day.
                </p>
                
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
