/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs {
      padding: var(--sectionPadding);
    }
    #sbs .cs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: 80rem;
      width: 100%;
      row-gap: 2.5rem;
    }
    #sbs .cs-left {
      position: relative;
      height: 39.75em;
      /* using ems so we can use font size to scale the whole section */
      width: 39.4375em;
      /* scaling the font size with the view width */
      font-size: min(2.31vw, 0.7em);
    }
    #sbs .cs-picture {
      position: absolute;
      display: block;
      border-radius: 1.5em;
      /* clips img tag corners */
      overflow: hidden;
    }
    #sbs .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes image act like a background image */
      object-fit: cover;
    }
    #sbs .cs-picture1 {
      top: 0;
      left: 0;
      height: 36.3125em;
      width: 32.625em;
    }
    #sbs .cs-picture2 {
      bottom: 0;
      right: 0;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      background-color: #fff;
      height: 25em;
      width: 25.875em;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    }
    #sbs .cs-right {
      margin: auto;
      max-width: 33.875rem;
    }
    #sbs .cs-topper {
      margin-bottom: 0.25rem;
      text-align: left;
    }
    #sbs .cs-title {
      max-width: 50rem;
      text-align: left;
    }
    #sbs .cs-text {
      margin-bottom: 1rem;
      max-width: 46.875rem;
      text-align: left;
    }
    #sbs .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs .cs-flex-group {
      position: relative;
      border-radius: 1rem;
      background-color: #f7f7f7;
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
    }
    #sbs .cs-flex-p {
      margin: 0 0 1rem;
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: #353535;
    }
    #sbs .cs-name {
      display: block;
      margin: 0 0 0.25rem;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.2em;
      font-weight: bold;
      color: var(--headerColor);
    }
    #sbs .cs-job {
      display: block;
      font-size: 0.875rem;
      line-height: 1.5em;
      color: #353535;
    }
    #sbs .cs-quote-icon {
      position: absolute;
      bottom: 0rem;
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
      height: auto;
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
    }
    #sbs .cs-button-solid {
      margin-top: 2rem;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: 3.25rem;
    }
    #sbs .cs-left {
      font-size: min(1.2vw, 1em);
      flex: none;
    }
    #sbs .cs-right {
      margin: 0;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #sbs .cs-left:before, body.dark-mode #sbs .cs-left:after {
      background: var(--accent);
    }
    body.dark-mode #sbs .cs-picture2 {
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
      background-color: var(--dark);
    }
    body.dark-mode #sbs .cs-topper {
      color: var(--primaryLight);
    }
    body.dark-mode #sbs .cs-title,
    body.dark-mode #sbs .cs-text,
    body.dark-mode #sbs .cs-h3,
    body.dark-mode #sbs .cs-flex-p,
    body.dark-mode #sbs .cs-name {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs .cs-flex-group {
      background-color: var(--accent);
    }
    body.dark-mode #sbs .cs-job {
      opacity: 0.8;
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs .cs-quote-icon {
      opacity: 0.2;
    }
  }
  /*-- -------------------------- -->
  <---       Side By Side         -->
  <--- -------------------------- -*/
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-r {
      padding: var(--sectionPadding);
    }
    #sbs-r .cs-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      margin: auto;
      max-width: 80rem;
      width: 100%;
      row-gap: 2.5rem;
    }
    #sbs-r .cs-left {
      position: relative;
      height: 39.75em;
      /* using ems so we can use font size to scale the whole section */
      width: 39.4375em;
      /* scaling the font size with the view width */
      font-size: min(2.31vw, 0.7em);
    }
    #sbs-r .cs-picture {
      position: absolute;
      display: block;
      border-radius: 1.5em;
      /* clips img tag corners */
      overflow: hidden;
    }
    #sbs-r .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes image act like a background image */
      object-fit: cover;
    }
    #sbs-r .cs-picture1 {
      top: 0;
      right: 0;
      height: 36.3125em;
      width: 32.625em;
    }
    #sbs-r .cs-picture2 {
      bottom: 0;
      left: 0;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      background-color: #fff;
      height: 25em;
      width: 25.875em;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    }
    #sbs-r .cs-right {
      margin: auto;
      max-width: 33.875rem;
    }
    #sbs-r .cs-topper {
      margin-bottom: 0.25rem;
      text-align: left;
    }
    #sbs-r .cs-title {
      max-width: 50rem;
      text-align: left;
    }
    #sbs-r .cs-text {
      margin-bottom: 1rem;
      max-width: 46.875rem;
      text-align: left;
    }
    #sbs-r .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs-r .cs-flex-group {
      position: relative;
      border-radius: 1rem;
      background-color: #f7f7f7;
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
    }
    #sbs-r .cs-flex-p {
      margin: 0 0 1rem;
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      color: #353535;
    }
    #sbs-r .cs-name {
      display: block;
      margin: 0 0 0.25rem;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1.2em;
      font-weight: bold;
      color: var(--headerColor);
    }
    #sbs-r .cs-job {
      display: block;
      font-size: 0.875rem;
      line-height: 1.5em;
      color: #353535;
    }
    #sbs-r .cs-quote-icon {
      position: absolute;
      bottom: 0rem;
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
      height: auto;
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-r .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: 3.25rem;
    }
    #sbs-r .cs-left {
      /* sends it to the right */
      order: 2;
      font-size: min(1.2vw, 1em);
      flex: none;
    }
    #sbs-r .cs-right {
      margin: 0;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #sbs-r .cs-left:before, body.dark-mode #sbs-r .cs-left:after {
      background: var(--accent);
    }
    body.dark-mode #sbs-r .cs-picture2 {
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
      background-color: var(--dark);
    }
    body.dark-mode #sbs-r .cs-topper {
      color: var(--primaryLight);
    }
    body.dark-mode #sbs-r .cs-title,
    body.dark-mode #sbs-r .cs-text,
    body.dark-mode #sbs-r .cs-h3,
    body.dark-mode #sbs-r .cs-flex-p,
    body.dark-mode #sbs-r .cs-name {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs-r .cs-flex-group {
      background-color: var(--accent);
    }
    body.dark-mode #sbs-r .cs-job {
      opacity: 0.8;
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbs-r .cs-quote-icon {
      opacity: 0.2;
    }
  }
  
  
  /*# sourceMappingURL=local.css.map */
  /*-- -------------------------- -->
  <---        WHY CHOOSE US               -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #steps-1209 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    #steps-1209 .cs-container {
        /* changes to 1280px at tablet */
        max-width: 44rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #steps-1209 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
  
  }
  /* Mobile - 360px */
  /* you can copy and paste these styles into the section CSS where you placed the #list-893 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
  #list-893 {
    max-width: 49.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    columns: 2;
  }
  #list-893 .cs-li {
    list-style: none;
    margin: 0 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #list-893 .cs-li:before {
    /* accent shape */
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background: #bababa;
    border-radius: 0.25rem 0 0.25rem 0;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  /* Dark Mode, copy and paste only the styles inside the #list-893 brackets into your section's dark mode media query */
  body.dark-mode #list-893 .cs-li {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  /*-- -------------------------- -->
  <---          Pricing           -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #pricing-1769 {
      padding: var(--sectionPadding);
      position: relative;
    }
    #pricing-1769 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }
    #pricing-1769 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      position: relative;
    }
    #pricing-1769 .cs-topper {
      color: var(--bodyTextColorWhite);
    }
    #pricing-1769 .cs-title {
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    #pricing-1769 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.8vw, 1.25rem);
      position: relative;
    }
    #pricing-1769 .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      max-width: 31.25rem;
      margin: 0;
      /* 24px - 40px top *
              /* 16px - 32px left & right */
      padding: clamp(1.5rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem);
      background-color: #FFFFFF;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: relative;
    }
    #pricing-1769 .cs-item.cs-popular {
      background-color: #1A1A1A;
    }
    #pricing-1769 .cs-item.cs-popular .cs-package {
      color: var(--bodyTextColorWhite);
    }
    #pricing-1769 .cs-item.cs-popular .cs-price,
    #pricing-1769 .cs-item.cs-popular .cs-item-p,
    #pricing-1769 .cs-item.cs-popular .cs-li {
      color: var(--bodyTextColorWhite);
    }
    #pricing-1769 .cs-item.cs-popular .cs-li.cs-disabled {
      filter: brightness(550%);
    }
    #pricing-1769 .cs-item.cs-popular .cs-button-solid {
      transition: color 0.3s;
    }
    #pricing-1769 .cs-item.cs-popular .cs-button-solid:hover {
      color: var(--primary);
    }
    #pricing-1769 .cs-item.cs-popular .cs-button-solid:before {
      background-color: #fff;
    }
    #pricing-1769 .cs-package {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.4vw, 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      text-transform: uppercase;
      margin: 0 0 0.25rem 0;
      color: var(--bodyTextColor);
      display: block;
    }
    #pricing-1769 .cs-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 0.5rem;
    }
    #pricing-1769 .cs-price {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0;
      color: var(--headerColor);
    }
    #pricing-1769 .cs-item-p {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #pricing-1769 .cs-ul {
      margin: 1.5rem 0 auto;
      padding: 1.5rem 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      position: relative;
    }
    #pricing-1769 .cs-ul:before {
      content: "";
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, rgba(232, 232, 232, 0.2) 0%, #e8e8e8 53.78%, rgba(232, 232, 232, 0.2) 100%);
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
    #pricing-1769 .cs-li {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      list-style: none;
      line-height: 1.2em;
      width: 100%;
      margin: 0;
      padding: 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
    }
    #pricing-1769 .cs-li.cs-disabled {
      opacity: 0.5;
    }
    #pricing-1769 .cs-li.cs-disabled .cs-icon {
      filter: grayscale(1) brightness(300%);
    }
    #pricing-1769 .cs-icon {
      width: 1.125rem;
      height: auto;
      display: block;
    }
    #pricing-1769 .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 2rem 0 0 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #pricing-1769 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #pricing-1769 .cs-button-solid:hover:before {
      width: 100%;
    }
    #pricing-1769 .cs-price-button {
      width: 100%;
      border-radius: 0;
    }
    #pricing-1769 .cs-price-button:before {
      border-radius: 0;
    }
    #pricing-1769 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #pricing-1769 .cs-background:before {
      /* Overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0.5;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
    }
    #pricing-1769 .cs-background img {
      width: 100%;
      height: 100%;
      /* turns the image black and white */
      filter: grayscale(1);
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #pricing-1769 .cs-card-group {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #pricing-1769 .cs-item {
      background-color: var(--dark);
    }
    body.dark-mode #pricing-1769 .cs-item .cs-package,
    body.dark-mode #pricing-1769 .cs-item .cs-price,
    body.dark-mode #pricing-1769 .cs-item .cs-item-p,
    body.dark-mode #pricing-1769 .cs-item .cs-li {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #pricing-1769 .cs-item.cs-popular {
      position: relative;
      z-index: 1;
    }
    body.dark-mode #pricing-1769 .cs-item.cs-popular:before {
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
    }
    body.dark-mode #pricing-1769 .cs-item .cs-package,
    body.dark-mode #pricing-1769 .cs-item .cs-item-p,
    body.dark-mode #pricing-1769 .cs-item .cs-li {
      opacity: 0.8;
    }
    body.dark-mode #pricing-1769 .cs-item .cs-package.cs-disabled,
    body.dark-mode #pricing-1769 .cs-item .cs-item-p.cs-disabled,
    body.dark-mode #pricing-1769 .cs-item .cs-li.cs-disabled {
      opacity: 0.4;
    }
  }
     /*-- -------------------------- -->
  <---           Quote            -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #quote-2141 {
      /* 80px - 160px */
      padding: clamp(5rem, 10vw, 10rem) 1rem;
      background-color: #FBF5F1;
      position: relative;
      z-index: 1;
    }
    #quote-2141 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }
    #quote-2141 .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    #quote-2141 .cs-quote-icon {
      /* 120px - 220px */
      width: clamp(7.5rem, 12vw, 13.75rem);
      height: auto;
      display: block;
      position: absolute;
      /* -48px - -96px */
      top: calc(clamp(3rem, 8vw, 6rem)*-1);
      z-index: -1;
    }
    #quote-2141 .cs-quote {
      /* 25px - 49px */
      font-size: clamp(1.5625rem, 4.8vw, 3.0625rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: 45ch;
      /* 24px - 32px */
      margin: 0 0 clamp(1.5rem, 3vw, 2rem);
      color: var(--headerColor);
    }
    #quote-2141 .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0 0 0.5rem 0;
      color: var(--secondary);
      display: block;
    }
    #quote-2141 .cs-job {
      font-size: 1rem;
      line-height: 1.5em;
      color: var(--bodyTextColor);
      display: block;
    }
    #quote-2141 .cs-flower {
      width: 50vw;
      max-width: 40rem;
      height: auto;
      display: block;
      position: absolute;
      z-index: -1;
    }
    #quote-2141 .cs-left {
      top: 0;
      left: 0;
    }
    #quote-2141 .cs-right {
      right: 0;
      bottom: 0;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #quote-2141 {
      background-color: rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #quote-2141 .cs-quote-icon {
      opacity: 0.3;
    }
    body.dark-mode #quote-2141 .cs-quote,
    body.dark-mode #quote-2141 .cs-job {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #quote-2141 .cs-job {
      opacity: 0.8;
    }
  }
  /*-- -------------------------- -->
  <---           Blog             -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #blog-1581 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
    }
    #blog-1581 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #blog-1581 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #blog-1581 .cs-title {
      max-width: 20ch;
    }
    #blog-1581 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 12.5rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color .3s;
    }
    #blog-1581 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width .3s;
    }
    #blog-1581 .cs-button-solid:hover {
      color: #fff;
    }
    #blog-1581 .cs-button-solid:hover:before {
      width: 100%;
    }
    #blog-1581 .cs-card-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      row-gap: 1.75rem;
      /* 16px - 20px */
      column-gap: clamp(1rem, 2.5vw, 1.25rem);
    }
    #blog-1581 .cs-item {
      text-align: left;
      list-style: none;
      overflow: hidden;
      grid-column: span 12;
      position: relative;
      z-index: 1;
      transition: box-shadow 0.3s, transform 0.3s;
    }
    #blog-1581 .cs-item:hover .cs-picture img {
      opacity: .3;
      transform: scale(1.1);
    }
    #blog-1581 .cs-item:hover .cs-h3 {
      color: var(--primary);
    }
    #blog-1581 .cs-link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #blog-1581 .cs-picture {
      width: 100%;
      min-height: 13.75rem;
      /* changes at tablet */
      max-height: 18.75rem;
      height: 100vw;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
      background-color: #1a1a1a;
      overflow: hidden;
      display: block;
      /* prevents flexbox from squishing it */
      flex: none;
      position: relative;
      z-index: 1;
    }
    #blog-1581 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform .6s, opacity .3s;
    }
    #blog-1581 .cs-flex {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }
    #blog-1581 .cs-date {
      font-size: 1rem;
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      margin: 0 0 2rem 0;
      padding: 0.5rem 1rem;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: #D1D3D4;
      color: #1a1a1a;
      display: inline-block;
      position: absolute;
      left: 1rem;
      bottom: 100%;
      z-index: 2;
    }
    #blog-1581 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      text-align: inherit;
      line-height: 1.2em;
      font-weight: 700;
      color: var(--headerColor);
      /* 12px - 16px */
      margin: 0 0 clamp(0.75rem, 2vw, 1rem) 0;
      transition: color .3s;
    }
    #blog-1581 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #blog-1581 .cs-container {
      max-width: 80rem;
    }
    #blog-1581 .cs-content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    #blog-1581 .cs-title {
      margin: 0;
    }
    #blog-1581 .cs-item {
      grid-column: span 6;
    }
    #blog-1581 .cs-picture {
      min-height: 11.25rem;
      /* 180px - 284px */
      height: clamp(11.25rem, 23vw, 17.75rem);
      max-height: 100%;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #blog-1581 .cs-item {
      grid-column: span 3;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #blog-1581 .cs-title,
    body.dark-mode #blog-1581 .cs-text,
    body.dark-mode #blog-1581 .cs-h3,
    body.dark-mode #blog-1581 .cs-item-text {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #blog-1581 .cs-text,
    body.dark-mode #blog-1581 .cs-item-text {
      opacity: .8;
    }
  }
     /*-- -------------------------- -->
  <---            CTA             -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-51 {
        padding: var(--sectionPadding);
        position: relative;
    }
    #cta-51 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #cta-51 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
  
    #cta-51 .cs-title {
        color: var(--bodyTextColorWhite);
    }
    #cta-51 .cs-text {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #cta-51 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #cta-51 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #cta-51 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #cta-51 .cs-button-solid:hover:before {
        width: 100%;
    }
    #cta-51 .cs-picture {
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #cta-51 .cs-picture:before {
        /* black color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #cta-51 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  }
  
                                                             
                                                                                              
                                
                                